# TUPLE

In [ ]:
# Tuple - any value kept inside () separated by comma
# () are optional but comma(,) is mandatory

In [ ]:
tpl = (10, 10.20, 10+20j, True, None, 'Python')
print(tpl, type(tpl))

In [ ]:
# Tuple packing
tpl = 10, 10.20, 10+20j, True, None, 'Python'   
print(tpl, type(tpl))

In [ ]:
# 1. Data can be of any type inside the tuple and duplicate elements are allowed.
# 2. Tuple is immutable object - Item Assignment is Not Allowed

tpl = (10, 10.20, 10+20j, True, None, 'Python', 10, 10.20)
print(tpl)

tpl[0] = 111   # Item Assignment is Not Allowed 
print(tpl)

# Creation of Tuple

In [ ]:
# Direct Creation
tpl = 10, 10.20, 10+20j, True, None, 'Python', True
print(tpl)

In [ ]:
# Creation Using tuple()

# String to Tuple
my_tpl = tuple('Python')
print("String to Tuple    : ", my_tpl, type(my_tpl))

# List to Tuple
my_tpl = tuple(['Python', True, None,10, 10+20j])
print("List to Tuple      : ",my_tpl, type(my_tpl))

# Dictionary to Tuple: Only keys will be saved as tuple, values will be ignored
my_tpl = tuple({1:100, 2:200, 3:300})
print("Dictionary to Tuple: ",my_tpl, type(my_tpl))

In [ ]:
# Taking a tuple as input from user
my_tpl = eval(input('Enter a tuple: '))
print(my_tpl, type(my_tpl), id(my_tpl))

my_tpl = 111, 222, 333, 444
print(my_tpl, type(my_tpl), id(my_tpl))

my_tpl[3] = 111

In [ ]:
print(dir(tpl))

In [ ]:
# Creating a tuple with single element
tpl = (10,)
print(tpl, type(tpl))

In [ ]:
# Creating a tuple with dictionary element. Only keys are considered
print(tuple({2:3, 4:5, 7:8}))

In [ ]:
tpl = (10, 11, 20, 100, 10, 90, 11, 20, 11, 22, 29, 11, 20, 23, 11)
print(tpl.count(11))       # Number of occurances of 11
print(tpl.index(11))       # Index of first occurance of 11

In [ ]:
# Tuple packing - assigning multiple values to a single variable
tpl = 10, 20, 30, 40, 50, 60
print(tpl, type(tpl))

In [ ]:
# Tuple unpacking - Assigning a tuple to multiple variables
# No of variable and no of elements should match

emp_name, emp_id, emp_sal, emp_loc = 'Krishna', 101, 90000, 'Bengaluru'
print(emp_name)
print(emp_id)
print(emp_sal)
print(emp_loc)

# DICTIONARY

In [1]:
# Dictionary is a collection of key value pair enclosed inside {}
# Key and value are searated by colon(:)
# Key and value pair is called an item or element of the dictionary
# Key can not be duplicated whereas value can be duplicated
# Key can be only immutable element whereas values can be of any type
# Dictionary is not a seq so indexing, slicing, concatenation and repetiton are not allowed
# Dictionary is a mutable element

In [2]:
emp_info = {'Emp_Name':'Krishna', 'emp_id':101, 'emp_sal': 90000.00, 'emp_loc' : 'Bangalore'}
print (emp_info.keys())       # Returns a list of keys
print (emp_info.values())     # Returns a list of values
print (emp_info.items())      # Returns a list of tuples where each tuple is a key - value pair

dict_keys(['Emp_Name', 'emp_id', 'emp_sal', 'emp_loc'])
dict_values(['Krishna', 101, 90000.0, 'Bangalore'])
dict_items([('Emp_Name', 'Krishna'), ('emp_id', 101), ('emp_sal', 90000.0), ('emp_loc', 'Bangalore')])

In [3]:
# Keys and Values can be of Heterogeneous Data Types:
my_dict = {'A':100, 2:200, 3.5:'Python', True:'Boolean Type', 'Complex':3+4j, 4+6j:'Complex', None:"None Type"}
print(my_dict)

{'A': 100, 2: 200, 3.5: 'Python', True: 'Boolean Type', 'Complex': (3+4j), (4+6j): 'Complex', None: 'None Type'}

# Creation of Dictionary

In [4]:
# Direct Creation

my_dict = {'emp_name':'Krishna', 'emp_id':101, 'emp_sal':85000}

print(my_dict, type(my_dict))

{'emp_name': 'Krishna', 'emp_id': 101, 'emp_sal': 85000} <class 'dict'>

In [41]:
# Using dict() with a list of tuples:

emp_name_sal = [['Krishna', 90000],['Rahul', 80000],['Abhishek', 70000],['Apoorva', 40000]]

emp_name_sal_dict = dict(emp_name_sal)
print(emp_name_sal_dict)

{'Krishna': 90000, 'Rahul': 80000, 'Abhishek': 70000, 'Apoorva': 40000}

In [42]:
# Taking dictionary as input from the user:

my_dict = eval(input('Enter a dictionary: '))
print(my_dict, type(my_dict))

Enter a dictionary: {'emp_name': 'Krishna', 'emp_id': 101, 'emp_sal': 85000}
{'emp_name': 'Krishna', 'emp_id': 101, 'emp_sal': 85000} <class 'dict'>

In [7]:
# zip combines the iterables together index wise. Improper indexes / mismatch in number of values in each list will be ignored
# Returns a zip object which has a list of tuples where each tuple will be having the index wise elements from iterables

emp_name = 'Krishna', 'Rahul', 'Abhishek', 'Apoorva', 'Kishore'    # String (Tuple Packing)
emp_sal = (50000, 60000, 70000, 80000)                             # Tuple
emp_age = [35, 42, 23, 40, 50]                                     # List

print(list(zip(emp_name, emp_sal, emp_age)))     # Returns a list of tuples
print(dict(zip(emp_name, emp_sal)))              # Returns a dictionary that is constructed using the list of tuples

[('Krishna', 50000, 35), ('Rahul', 60000, 42), ('Abhishek', 70000, 23), ('Apoorva', 80000, 40)]
{'Krishna': 50000, 'Rahul': 60000, 'Abhishek': 70000, 'Apoorva': 80000}

In [43]:
# Import a csv file, read it and save it as a dictionary 

import pandas as pd      # pandas module will be covered later in detail

bike_data = pd.read_csv('https://raw.githubusercontent.com/dcohriner/Citi-Bike-Analytics/master/citibike_tripdata.csv')
bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,338,5/1/18 0:04,5/1/18 0:10,3639,Harborside,40.719252,-74.034234,3199,Newport Pkwy,40.728745,-74.032108,33558,Annual Membership,Subscriber,1988.0,1
1,1482,5/1/18 1:31,5/1/18 1:55,3681,Grand St,40.715178,-74.037683,3185,City Hall,40.717732,-74.043845,33593,24 Hour,Customer,NaN,0
2,232,5/1/18 1:31,5/1/18 1:35,3194,McGinley Square,40.725340,-74.067622,3193,Lincoln Park,40.724605,-74.078406,29217,FREE Bonus Month with Annual Membership,Subscriber,1985.0,1
3,190,5/1/18 2:03,5/1/18 2:06,3185,City Hall,40.717732,-74.043845,3186,Grove St PATH,40.719586,-74.043117,29662,24 Hour,Customer,NaN,0
4,303,5/1/18 4:27,5/1/18 4:32,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730743,-74.063784,15271,Annual Membership,Subscriber,1984.0,2
5,176,5/1/18 4:37,5/1/18 4:40,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,29298,Annual Membership,Subscriber,1989.0,2
6,577,5/1/18 5:05,5/1/18 5:15,3225,Baldwin at Montgomery,40.723659,-74.064194,3186,Grove St PATH,40.719586,-74.043117,33619,Annual Membership from Citi Bike App,Subscriber,1964.0,1
7,830,5/1/18 5:11,5/1/18 5:25,3207,Oakland Ave,40.737604,-74.052478,3185,City Hall,40.717732,-74.043845,33624,Annual Membership,Subscriber,1984.0,2
8,395,5/1/18 5:12,5/1/18 5:18,3225,Baldwin at Montgomery,40.723659,-74.064194,3186,Grove St PATH,40.719586,-74.043117,26300,Annual Membership,Subscriber,1993.0,1
9,170,5/1/18 5:13,5/1/18 5:16,3206,Hilltop,40.731169,-74.057574,3195,Sip Ave,40.730743,-74.063784,33555,$25 Off Annual Membership,Subscriber,1992.0,1

In [45]:
# Create a list of the number of occurances of each Station Name
v = list(bike_data['start station name'].value_counts())
print(v)

[3621, 1961, 1827, 1726, 1511, 1123, 1093, 1055, 949, 938, 934, 929, 923, 826, 799, 798, 797, 775, 751, 750, 737, 722, 605, 589, 530, 529, 510, 504, 485, 426, 420, 412, 332, 298, 294, 290, 281, 279, 249, 240, 238, 235, 220, 216, 195, 162, 127, 119, 104, 21]

In [46]:
# Create a list of unique Start Station Names
k = list(bike_data['start station name'].value_counts().index)
print(k)

['Grove St PATH', 'Hamilton Park', 'Sip Ave', 'Exchange Place', 'Newport PATH', 'Harborside', 'Morris Canal', 'Newport Pkwy', 'City Hall', 'Marin Light Rail', 'Newark Ave', 'Warren St', 'Van Vorst Park', 'Paulus Hook', 'Liberty Light Rail', 'Jersey & 6th St', 'Jersey & 3rd', 'Brunswick & 6th', 'Brunswick St', 'Columbus Drive', 'Washington St', 'Essex Light Rail', 'Manila & 1st', 'Oakland Ave', 'Monmouth and 6th', 'JC Medical Center', 'Dixon Mills', 'Journal Square', 'McGinley Square', 'Pershing Field', 'Grand St', 'Baldwin at Montgomery', 'Hilltop', 'Leonard Gordon Park', 'Bergen Ave', 'Heights Elevator', 'York St', 'Fairmount Ave', 'Astor Place', 'Lincoln Park', 'Riverview Park', 'Christ Hospital', 'Montgomery St', '5 Corners Library', 'Lafayette Park', 'Communipaw & Berry Lane', 'Glenwood Ave', 'Dey St', 'Union St', 'JCBS Depot']

In [51]:
# Zip the 2 lists into a Dictionary:

# item = list(zip(k, v))
item = dict(zip(k, v))
item

{'Grove St PATH': 3621,
 'Hamilton Park': 1961,
 'Sip Ave': 1827,
 'Exchange Place': 1726,
 'Newport PATH': 1511,
 'Harborside': 1123,
 'Morris Canal': 1093,
 'Newport Pkwy': 1055,
 'City Hall': 949,
 'Marin Light Rail': 938,
 'Newark Ave': 934,
 'Warren St': 929,
 'Van Vorst Park': 923,
 'Paulus Hook': 826,
 'Liberty Light Rail': 799,
 'Jersey & 6th St': 798,
 'Jersey & 3rd': 797,
 'Brunswick & 6th': 775,
 'Brunswick St': 751,
 'Columbus Drive': 750,
 'Washington St': 737,
 'Essex Light Rail': 722,
 'Manila & 1st': 605,
 'Oakland Ave': 589,
 'Monmouth and 6th': 530,
 'JC Medical Center': 529,
 'Dixon Mills': 510,
 'Journal Square': 504,
 'McGinley Square': 485,
 'Pershing Field': 426,
 'Grand St': 420,
 'Baldwin at Montgomery': 412,
 'Hilltop': 332,
 'Leonard Gordon Park': 298,
 'Bergen Ave': 294,
 'Heights Elevator': 290,
 'York St': 281,
 'Fairmount Ave': 279,
 'Astor Place': 249,
 'Lincoln Park': 240,
 'Riverview Park': 238,
 'Christ Hospital': 235,
 'Montgomery St': 220,
 '5 Corners Library': 216,
 'Lafayette Park': 195,
 'Communipaw & Berry Lane': 162,
 'Glenwood Ave': 127,
 'Dey St': 119,
 'Union St': 104,
 'JCBS Depot': 21}

In [12]:
# Inbuilt Functions / Methods on Dict:

print(dir(dict))
# ['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [55]:
# The setdefault() method returns the value of the item with the specified key.
# If the key does not exist, it inserts or appends the key into the dictionary, with the specified value:

car = {"brand": "Ford",  
       "model": "Mustang",  
       "year": 1964}

x = car.setdefault("model1", 'Bronco')

print(x)
print(car)

Bronco
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'model1': 'Bronco'}

In [16]:
# Concatenating 2 dictionaries:
# All methods will concatenate only if the second dict key is not already present in the first dict key.
# update method is similar to extend method in list
# It updates a dictionary in another dictonary

# Method 1:
st_name_count = {}
item2 = {"JF Kennedy St.":23, "Lincoln St.":18}

st_name_count.update(item)
st_name_count.update(item2)

st_name_count

{'Grove St PATH': 3621,
 'Hamilton Park': 1961,
 'Sip Ave': 1827,
 'Exchange Place': 1726,
 'Newport PATH': 1511,
 'Harborside': 1123,
 'Morris Canal': 1093,
 'Newport Pkwy': 1055,
 'City Hall': 949,
 'Marin Light Rail': 938,
 'Newark Ave': 934,
 'Warren St': 929,
 'Van Vorst Park': 923,
 'Paulus Hook': 826,
 'Liberty Light Rail': 799,
 'Jersey & 6th St': 798,
 'Jersey & 3rd': 797,
 'Brunswick & 6th': 775,
 'Brunswick St': 751,
 'Columbus Drive': 750,
 'Washington St': 737,
 'Essex Light Rail': 722,
 'Manila & 1st': 605,
 'Oakland Ave': 589,
 'Monmouth and 6th': 530,
 'JC Medical Center': 529,
 'Dixon Mills': 510,
 'Journal Square': 504,
 'McGinley Square': 485,
 'Pershing Field': 426,
 'Grand St': 420,
 'Baldwin at Montgomery': 412,
 'Hilltop': 332,
 'Leonard Gordon Park': 298,
 'Bergen Ave': 294,
 'Heights Elevator': 290,
 'York St': 281,
 'Fairmount Ave': 279,
 'Astor Place': 249,
 'Lincoln Park': 240,
 'Riverview Park': 238,
 'Christ Hospital': 235,
 'Montgomery St': 220,
 '5 Corners Library': 216,
 'Lafayette Park': 195,
 'Communipaw & Berry Lane': 162,
 'Glenwood Ave': 127,
 'Dey St': 119,
 'Union St': 104,
 'JCBS Depot': 21,
 'JF Kennedy St.': 23,
 'Lincoln St.': 18}

In [18]:
# Method 2:
st_name_count_2 = {}

for d in [item, item2]:
  st_name_count_2.update(d)

st_name_count_2

{'Grove St PATH': 3621,
 'Hamilton Park': 1961,
 'Sip Ave': 1827,
 'Exchange Place': 1726,
 'Newport PATH': 1511,
 'Harborside': 1123,
 'Morris Canal': 1093,
 'Newport Pkwy': 1055,
 'City Hall': 949,
 'Marin Light Rail': 938,
 'Newark Ave': 934,
 'Warren St': 929,
 'Van Vorst Park': 923,
 'Paulus Hook': 826,
 'Liberty Light Rail': 799,
 'Jersey & 6th St': 798,
 'Jersey & 3rd': 797,
 'Brunswick & 6th': 775,
 'Brunswick St': 751,
 'Columbus Drive': 750,
 'Washington St': 737,
 'Essex Light Rail': 722,
 'Manila & 1st': 605,
 'Oakland Ave': 589,
 'Monmouth and 6th': 530,
 'JC Medical Center': 529,
 'Dixon Mills': 510,
 'Journal Square': 504,
 'McGinley Square': 485,
 'Pershing Field': 426,
 'Grand St': 420,
 'Baldwin at Montgomery': 412,
 'Hilltop': 332,
 'Leonard Gordon Park': 298,
 'Bergen Ave': 294,
 'Heights Elevator': 290,
 'York St': 281,
 'Fairmount Ave': 279,
 'Astor Place': 249,
 'Lincoln Park': 240,
 'Riverview Park': 238,
 'Christ Hospital': 235,
 'Montgomery St': 220,
 '5 Corners Library': 216,
 'Lafayette Park': 195,
 'Communipaw & Berry Lane': 162,
 'Glenwood Ave': 127,
 'Dey St': 119,
 'Union St': 104,
 'JCBS Depot': 21,
 'JF Kennedy St.': 23,
 'Lincoln St.': 18}

In [19]:
# If we try to concatenate the same dict keys, the resultant dict will be same as the original 
# as we cannot have duplicate keys in a dict. However values can be duplicated

# Method 1:
st_name_count_1 = {}
st_name_count_1.update(item)
st_name_count_1.update(item)
print(st_name_count_1, end = '\n\n')

# Method 2:
st_name_count_2 = {}
for d in [item, item]:
  st_name_count_2.update(d)
print(st_name_count_2, end = '\n\n')

{'Grove St PATH': 3621, 'Hamilton Park': 1961, 'Sip Ave': 1827, 'Exchange Place': 1726, 'Newport PATH': 1511, 'Harborside': 1123, 'Morris Canal': 1093, 'Newport Pkwy': 1055, 'City Hall': 949, 'Marin Light Rail': 938, 'Newark Ave': 934, 'Warren St': 929, 'Van Vorst Park': 923, 'Paulus Hook': 826, 'Liberty Light Rail': 799, 'Jersey & 6th St': 798, 'Jersey & 3rd': 797, 'Brunswick & 6th': 775, 'Brunswick St': 751, 'Columbus Drive': 750, 'Washington St': 737, 'Essex Light Rail': 722, 'Manila & 1st': 605, 'Oakland Ave': 589, 'Monmouth and 6th': 530, 'JC Medical Center': 529, 'Dixon Mills': 510, 'Journal Square': 504, 'McGinley Square': 485, 'Pershing Field': 426, 'Grand St': 420, 'Baldwin at Montgomery': 412, 'Hilltop': 332, 'Leonard Gordon Park': 298, 'Bergen Ave': 294, 'Heights Elevator': 290, 'York St': 281, 'Fairmount Ave': 279, 'Astor Place': 249, 'Lincoln Park': 240, 'Riverview Park': 238, 'Christ Hospital': 235, 'Montgomery St': 220, '5 Corners Library': 216, 'Lafayette Park': 195, 'Communipaw & Berry Lane': 162, 'Glenwood Ave': 127, 'Dey St': 119, 'Union St': 104, 'JCBS Depot': 21}

{'Grove St PATH': 3621, 'Hamilton Park': 1961, 'Sip Ave': 1827, 'Exchange Place': 1726, 'Newport PATH': 1511, 'Harborside': 1123, 'Morris Canal': 1093, 'Newport Pkwy': 1055, 'City Hall': 949, 'Marin Light Rail': 938, 'Newark Ave': 934, 'Warren St': 929, 'Van Vorst Park': 923, 'Paulus Hook': 826, 'Liberty Light Rail': 799, 'Jersey & 6th St': 798, 'Jersey & 3rd': 797, 'Brunswick & 6th': 775, 'Brunswick St': 751, 'Columbus Drive': 750, 'Washington St': 737, 'Essex Light Rail': 722, 'Manila & 1st': 605, 'Oakland Ave': 589, 'Monmouth and 6th': 530, 'JC Medical Center': 529, 'Dixon Mills': 510, 'Journal Square': 504, 'McGinley Square': 485, 'Pershing Field': 426, 'Grand St': 420, 'Baldwin at Montgomery': 412, 'Hilltop': 332, 'Leonard Gordon Park': 298, 'Bergen Ave': 294, 'Heights Elevator': 290, 'York St': 281, 'Fairmount Ave': 279, 'Astor Place': 249, 'Lincoln Park': 240, 'Riverview Park': 238, 'Christ Hospital': 235, 'Montgomery St': 220, '5 Corners Library': 216, 'Lafayette Park': 195, 'Communipaw & Berry Lane': 162, 'Glenwood Ave': 127, 'Dey St': 119, 'Union St': 104, 'JCBS Depot': 21}

In [56]:
# Accessing the value from the dictionary

# Content of Entire Dictionary:
print(item, end = '\n\n')

# Value of a particular Key:
print(item['Hilltop'])

# We can access the value from keys, but vice-versa is not possible because keys are unique but values may not be unique

{'Grove St PATH': 3621, 'Hamilton Park': 1961, 'Sip Ave': 1827, 'Exchange Place': 1726, 'Newport PATH': 1511, 'Harborside': 1123, 'Morris Canal': 1093, 'Newport Pkwy': 1055, 'City Hall': 949, 'Marin Light Rail': 938, 'Newark Ave': 934, 'Warren St': 929, 'Van Vorst Park': 923, 'Paulus Hook': 826, 'Liberty Light Rail': 799, 'Jersey & 6th St': 798, 'Jersey & 3rd': 797, 'Brunswick & 6th': 775, 'Brunswick St': 751, 'Columbus Drive': 750, 'Washington St': 737, 'Essex Light Rail': 722, 'Manila & 1st': 605, 'Oakland Ave': 589, 'Monmouth and 6th': 530, 'JC Medical Center': 529, 'Dixon Mills': 510, 'Journal Square': 504, 'McGinley Square': 485, 'Pershing Field': 426, 'Grand St': 420, 'Baldwin at Montgomery': 412, 'Hilltop': 332, 'Leonard Gordon Park': 298, 'Bergen Ave': 294, 'Heights Elevator': 290, 'York St': 281, 'Fairmount Ave': 279, 'Astor Place': 249, 'Lincoln Park': 240, 'Riverview Park': 238, 'Christ Hospital': 235, 'Montgomery St': 220, '5 Corners Library': 216, 'Lafayette Park': 195, 'Communipaw & Berry Lane': 162, 'Glenwood Ave': 127, 'Dey St': 119, 'Union St': 104, 'JCBS Depot': 21}

332

In [24]:
# items(), keys(), values():

print(list(item.items()), end = '\n\n')       # items() - Returns a list of tuples with key value pair
print(list(item.keys()), end = '\n\n')        # keys() - Returns a tuple of keys
print(list(item.values()), end = '\n\n')      # values() - Returns a list of values

[('Grove St PATH', 3621), ('Hamilton Park', 1961), ('Sip Ave', 1827), ('Exchange Place', 1726), ('Newport PATH', 1511), ('Harborside', 1123), ('Morris Canal', 1093), ('Newport Pkwy', 1055), ('City Hall', 949), ('Marin Light Rail', 938), ('Newark Ave', 934), ('Warren St', 929), ('Van Vorst Park', 923), ('Paulus Hook', 826), ('Liberty Light Rail', 799), ('Jersey & 6th St', 798), ('Jersey & 3rd', 797), ('Brunswick & 6th', 775), ('Brunswick St', 751), ('Columbus Drive', 750), ('Washington St', 737), ('Essex Light Rail', 722), ('Manila & 1st', 605), ('Oakland Ave', 589), ('Monmouth and 6th', 530), ('JC Medical Center', 529), ('Dixon Mills', 510), ('Journal Square', 504), ('McGinley Square', 485), ('Pershing Field', 426), ('Grand St', 420), ('Baldwin at Montgomery', 412), ('Hilltop', 332), ('Leonard Gordon Park', 298), ('Bergen Ave', 294), ('Heights Elevator', 290), ('York St', 281), ('Fairmount Ave', 279), ('Astor Place', 249), ('Lincoln Park', 240), ('Riverview Park', 238), ('Christ Hospital', 235), ('Montgomery St', 220), ('5 Corners Library', 216), ('Lafayette Park', 195), ('Communipaw & Berry Lane', 162), ('Glenwood Ave', 127), ('Dey St', 119), ('Union St', 104), ('JCBS Depot', 21)]

['Grove St PATH', 'Hamilton Park', 'Sip Ave', 'Exchange Place', 'Newport PATH', 'Harborside', 'Morris Canal', 'Newport Pkwy', 'City Hall', 'Marin Light Rail', 'Newark Ave', 'Warren St', 'Van Vorst Park', 'Paulus Hook', 'Liberty Light Rail', 'Jersey & 6th St', 'Jersey & 3rd', 'Brunswick & 6th', 'Brunswick St', 'Columbus Drive', 'Washington St', 'Essex Light Rail', 'Manila & 1st', 'Oakland Ave', 'Monmouth and 6th', 'JC Medical Center', 'Dixon Mills', 'Journal Square', 'McGinley Square', 'Pershing Field', 'Grand St', 'Baldwin at Montgomery', 'Hilltop', 'Leonard Gordon Park', 'Bergen Ave', 'Heights Elevator', 'York St', 'Fairmount Ave', 'Astor Place', 'Lincoln Park', 'Riverview Park', 'Christ Hospital', 'Montgomery St', '5 Corners Library', 'Lafayette Park', 'Communipaw & Berry Lane', 'Glenwood Ave', 'Dey St', 'Union St', 'JCBS Depot']

[3621, 1961, 1827, 1726, 1511, 1123, 1093, 1055, 949, 938, 934, 929, 923, 826, 799, 798, 797, 775, 751, 750, 737, 722, 605, 589, 530, 529, 510, 504, 485, 426, 420, 412, 332, 298, 294, 290, 281, 279, 249, 240, 238, 235, 220, 216, 195, 162, 127, 119, 104, 21]

In [26]:
# 'pop'

# pop(key, value)
# If key is present then removes the key value pair and returns the value only
# If key is not present then returns value error if second arg is not passed
# else return the second arg as output if key is not present

# Lets re-create the dictionary
k = list(bike_data['start station name'].value_counts().index)
v = list(bike_data['start station name'].value_counts())
item = dict(zip(k, v))

# If key is present then removes the key value pair and returns the value only
print(item.pop('Newport PATH'))   

# else return the second arg as output if key is not present
print(item.pop('Gothenburg', 'This key is not present'))   

# If key is not present then returns value error if second arg is not passed
print(item.pop('Mumbai'))

1511
This key is not present

KeyError: 'Mumbai'

In [27]:
# popitem() 

# Return a tuple with the popped key and value pair
# Removes last entry

# Lets re-create the dictionary
k = list(bike_data['start station name'].value_counts().index)
v = list(bike_data['start station name'].value_counts())
item = dict(zip(k, v))

print("Dictionary before popitem():", item, end = '\n\n')
print("Popped item: ", item.popitem(), end = '\n\n')
print("Dictionary after popitem():", item, end = '\n\n')

Dictionary before popitem(): {'Grove St PATH': 3621, 'Hamilton Park': 1961, 'Sip Ave': 1827, 'Exchange Place': 1726, 'Newport PATH': 1511, 'Harborside': 1123, 'Morris Canal': 1093, 'Newport Pkwy': 1055, 'City Hall': 949, 'Marin Light Rail': 938, 'Newark Ave': 934, 'Warren St': 929, 'Van Vorst Park': 923, 'Paulus Hook': 826, 'Liberty Light Rail': 799, 'Jersey & 6th St': 798, 'Jersey & 3rd': 797, 'Brunswick & 6th': 775, 'Brunswick St': 751, 'Columbus Drive': 750, 'Washington St': 737, 'Essex Light Rail': 722, 'Manila & 1st': 605, 'Oakland Ave': 589, 'Monmouth and 6th': 530, 'JC Medical Center': 529, 'Dixon Mills': 510, 'Journal Square': 504, 'McGinley Square': 485, 'Pershing Field': 426, 'Grand St': 420, 'Baldwin at Montgomery': 412, 'Hilltop': 332, 'Leonard Gordon Park': 298, 'Bergen Ave': 294, 'Heights Elevator': 290, 'York St': 281, 'Fairmount Ave': 279, 'Astor Place': 249, 'Lincoln Park': 240, 'Riverview Park': 238, 'Christ Hospital': 235, 'Montgomery St': 220, '5 Corners Library': 216, 'Lafayette Park': 195, 'Communipaw & Berry Lane': 162, 'Glenwood Ave': 127, 'Dey St': 119, 'Union St': 104, 'JCBS Depot': 21}

Popped item:  ('JCBS Depot', 21)

Dictionary after popitem(): {'Grove St PATH': 3621, 'Hamilton Park': 1961, 'Sip Ave': 1827, 'Exchange Place': 1726, 'Newport PATH': 1511, 'Harborside': 1123, 'Morris Canal': 1093, 'Newport Pkwy': 1055, 'City Hall': 949, 'Marin Light Rail': 938, 'Newark Ave': 934, 'Warren St': 929, 'Van Vorst Park': 923, 'Paulus Hook': 826, 'Liberty Light Rail': 799, 'Jersey & 6th St': 798, 'Jersey & 3rd': 797, 'Brunswick & 6th': 775, 'Brunswick St': 751, 'Columbus Drive': 750, 'Washington St': 737, 'Essex Light Rail': 722, 'Manila & 1st': 605, 'Oakland Ave': 589, 'Monmouth and 6th': 530, 'JC Medical Center': 529, 'Dixon Mills': 510, 'Journal Square': 504, 'McGinley Square': 485, 'Pershing Field': 426, 'Grand St': 420, 'Baldwin at Montgomery': 412, 'Hilltop': 332, 'Leonard Gordon Park': 298, 'Bergen Ave': 294, 'Heights Elevator': 290, 'York St': 281, 'Fairmount Ave': 279, 'Astor Place': 249, 'Lincoln Park': 240, 'Riverview Park': 238, 'Christ Hospital': 235, 'Montgomery St': 220, '5 Corners Library': 216, 'Lafayette Park': 195, 'Communipaw & Berry Lane': 162, 'Glenwood Ave': 127, 'Dey St': 119, 'Union St': 104}

In [28]:
# clear() 
# Deletes all the elements from the dictionary and leaves the empty dictionary behind

# Lets re-create the dictionary
k = list(bike_data['start station name'].value_counts().index)
v = list(bike_data['start station name'].value_counts())
item = dict(zip(k, v))

print("Before Clearing: ", item, end = '\n\n')
item.clear()   
print("After Clearing: ", item)

Before Clearing:  {'Grove St PATH': 3621, 'Hamilton Park': 1961, 'Sip Ave': 1827, 'Exchange Place': 1726, 'Newport PATH': 1511, 'Harborside': 1123, 'Morris Canal': 1093, 'Newport Pkwy': 1055, 'City Hall': 949, 'Marin Light Rail': 938, 'Newark Ave': 934, 'Warren St': 929, 'Van Vorst Park': 923, 'Paulus Hook': 826, 'Liberty Light Rail': 799, 'Jersey & 6th St': 798, 'Jersey & 3rd': 797, 'Brunswick & 6th': 775, 'Brunswick St': 751, 'Columbus Drive': 750, 'Washington St': 737, 'Essex Light Rail': 722, 'Manila & 1st': 605, 'Oakland Ave': 589, 'Monmouth and 6th': 530, 'JC Medical Center': 529, 'Dixon Mills': 510, 'Journal Square': 504, 'McGinley Square': 485, 'Pershing Field': 426, 'Grand St': 420, 'Baldwin at Montgomery': 412, 'Hilltop': 332, 'Leonard Gordon Park': 298, 'Bergen Ave': 294, 'Heights Elevator': 290, 'York St': 281, 'Fairmount Ave': 279, 'Astor Place': 249, 'Lincoln Park': 240, 'Riverview Park': 238, 'Christ Hospital': 235, 'Montgomery St': 220, '5 Corners Library': 216, 'Lafayette Park': 195, 'Communipaw & Berry Lane': 162, 'Glenwood Ave': 127, 'Dey St': 119, 'Union St': 104, 'JCBS Depot': 21}

After Clearing:  {}

In [29]:
# fromkeys(iterable, default = None)
# used to initialize keys in an empty dictionary with a default value

# Example with pre-defined values
d = {}
d = d.fromkeys((('A'), ('B'), ('C'), ('D'), ('E'), ('F')), [1, 2.5, True, None, 5+6j, 'Python'])
print(d)

{'A': [1, 2.5, True, None, (5+6j), 'Python'], 'B': [1, 2.5, True, None, (5+6j), 'Python'], 'C': [1, 2.5, True, None, (5+6j), 'Python'], 'D': [1, 2.5, True, None, (5+6j), 'Python'], 'E': [1, 2.5, True, None, (5+6j), 'Python'], 'F': [1, 2.5, True, None, (5+6j), 'Python']}

In [30]:
# Example with Default Values
d = {}
d = d.fromkeys((('A'), ('B'), ('C'), ('D'), ('E'), ('F')))
print(d)

{'A': None, 'B': None, 'C': None, 'D': None, 'E': None, 'F': None}

In [31]:
# Copying a dictionary to another - A New object will be created:

# Lets re-create the dictionary
k = list(bike_data['start station name'].value_counts().index)
v = list(bike_data['start station name'].value_counts())
item = dict(zip(k, v))

my_dict = item.copy()
print(my_dict, id(my_dict), end = '\n\n')
print(item, id(item), end = '\n\n')

item.clear()

print(my_dict, id(my_dict), end = '\n\n')
print(item, id(item))

{'Grove St PATH': 3621, 'Hamilton Park': 1961, 'Sip Ave': 1827, 'Exchange Place': 1726, 'Newport PATH': 1511, 'Harborside': 1123, 'Morris Canal': 1093, 'Newport Pkwy': 1055, 'City Hall': 949, 'Marin Light Rail': 938, 'Newark Ave': 934, 'Warren St': 929, 'Van Vorst Park': 923, 'Paulus Hook': 826, 'Liberty Light Rail': 799, 'Jersey & 6th St': 798, 'Jersey & 3rd': 797, 'Brunswick & 6th': 775, 'Brunswick St': 751, 'Columbus Drive': 750, 'Washington St': 737, 'Essex Light Rail': 722, 'Manila & 1st': 605, 'Oakland Ave': 589, 'Monmouth and 6th': 530, 'JC Medical Center': 529, 'Dixon Mills': 510, 'Journal Square': 504, 'McGinley Square': 485, 'Pershing Field': 426, 'Grand St': 420, 'Baldwin at Montgomery': 412, 'Hilltop': 332, 'Leonard Gordon Park': 298, 'Bergen Ave': 294, 'Heights Elevator': 290, 'York St': 281, 'Fairmount Ave': 279, 'Astor Place': 249, 'Lincoln Park': 240, 'Riverview Park': 238, 'Christ Hospital': 235, 'Montgomery St': 220, '5 Corners Library': 216, 'Lafayette Park': 195, 'Communipaw & Berry Lane': 162, 'Glenwood Ave': 127, 'Dey St': 119, 'Union St': 104, 'JCBS Depot': 21} 2239340736192

{'Grove St PATH': 3621, 'Hamilton Park': 1961, 'Sip Ave': 1827, 'Exchange Place': 1726, 'Newport PATH': 1511, 'Harborside': 1123, 'Morris Canal': 1093, 'Newport Pkwy': 1055, 'City Hall': 949, 'Marin Light Rail': 938, 'Newark Ave': 934, 'Warren St': 929, 'Van Vorst Park': 923, 'Paulus Hook': 826, 'Liberty Light Rail': 799, 'Jersey & 6th St': 798, 'Jersey & 3rd': 797, 'Brunswick & 6th': 775, 'Brunswick St': 751, 'Columbus Drive': 750, 'Washington St': 737, 'Essex Light Rail': 722, 'Manila & 1st': 605, 'Oakland Ave': 589, 'Monmouth and 6th': 530, 'JC Medical Center': 529, 'Dixon Mills': 510, 'Journal Square': 504, 'McGinley Square': 485, 'Pershing Field': 426, 'Grand St': 420, 'Baldwin at Montgomery': 412, 'Hilltop': 332, 'Leonard Gordon Park': 298, 'Bergen Ave': 294, 'Heights Elevator': 290, 'York St': 281, 'Fairmount Ave': 279, 'Astor Place': 249, 'Lincoln Park': 240, 'Riverview Park': 238, 'Christ Hospital': 235, 'Montgomery St': 220, '5 Corners Library': 216, 'Lafayette Park': 195, 'Communipaw & Berry Lane': 162, 'Glenwood Ave': 127, 'Dey St': 119, 'Union St': 104, 'JCBS Depot': 21} 2239340733824

{'Grove St PATH': 3621, 'Hamilton Park': 1961, 'Sip Ave': 1827, 'Exchange Place': 1726, 'Newport PATH': 1511, 'Harborside': 1123, 'Morris Canal': 1093, 'Newport Pkwy': 1055, 'City Hall': 949, 'Marin Light Rail': 938, 'Newark Ave': 934, 'Warren St': 929, 'Van Vorst Park': 923, 'Paulus Hook': 826, 'Liberty Light Rail': 799, 'Jersey & 6th St': 798, 'Jersey & 3rd': 797, 'Brunswick & 6th': 775, 'Brunswick St': 751, 'Columbus Drive': 750, 'Washington St': 737, 'Essex Light Rail': 722, 'Manila & 1st': 605, 'Oakland Ave': 589, 'Monmouth and 6th': 530, 'JC Medical Center': 529, 'Dixon Mills': 510, 'Journal Square': 504, 'McGinley Square': 485, 'Pershing Field': 426, 'Grand St': 420, 'Baldwin at Montgomery': 412, 'Hilltop': 332, 'Leonard Gordon Park': 298, 'Bergen Ave': 294, 'Heights Elevator': 290, 'York St': 281, 'Fairmount Ave': 279, 'Astor Place': 249, 'Lincoln Park': 240, 'Riverview Park': 238, 'Christ Hospital': 235, 'Montgomery St': 220, '5 Corners Library': 216, 'Lafayette Park': 195, 'Communipaw & Berry Lane': 162, 'Glenwood Ave': 127, 'Dey St': 119, 'Union St': 104, 'JCBS Depot': 21} 2239340736192

{} 2239340733824

In [32]:
# Extracting values from nested dictionary:

emp_info_dict = {'emp1':{'emp_name':'Krishna', 
                         'emp_id':101,
                         'emp_sal':10000,
                         'emp_email':{'official':'krishna@volvo.com',
                                      'personal':'krishna@gmail.com'}}, 
                 'emp2':{'emp_name':'Rahul', 
                         'emp_id':102,
                         'emp_sal':20000,
                         'emp_email':{'official':'rahul@volvo.com',
                                      'personal':'rahul@gmail.com'}},
                 'emp3':{'emp_name':'Abhishek', 
                         'emp_id':103,
                         'emp_sal':30000,
                         'emp_email':{'official':'abhishek@volvo.com',
                                      'personal':'abhishek@gmail.com'}}}

# Extracting using for loop if keys are unknown:
for k1, v1 in emp_info_dict.items():
    print('\n', k1)
    
    for k2, v2 in v1.items():
        if k2 != 'emp_email':
            print('\t', k2, '\t', v2 )
        
    print('\t', 'emp_email', '\n\t\t\t', 'official', '\t', v1['emp_email']['official'])    
    print('\t\t\t', 'personal', '\t', v1['emp_email']['personal'])
        
      
        
# Extracting using keys if keys are known:        
print('\n\n', emp_info_dict['emp1']['emp_email']['official'])

 emp1
	 emp_name 	 Krishna
	 emp_id 	 101
	 emp_sal 	 10000
	 emp_email
			 official 	 krishna@volvo.com
			 personal 	 krishna@gmail.com

 emp2
	 emp_name 	 Rahul
	 emp_id 	 102
	 emp_sal 	 20000
	 emp_email
			 official 	 rahul@volvo.com
			 personal 	 rahul@gmail.com

 emp3
	 emp_name 	 Abhishek
	 emp_id 	 103
	 emp_sal 	 30000
	 emp_email
			 official 	 abhishek@volvo.com
			 personal 	 abhishek@gmail.com


 krishna@volvo.com

In [33]:
# Modifying values in nested dictionary:

emp_info_dict = {'emp1':{'emp_name':'Krishna', 
                         'emp_id':101,
                         'emp_sal':10000}, 
                 'emp2':{'emp_name':'Rahul', 
                         'emp_id':102,
                         'emp_sal':20000},
                 'emp3':{'emp_name':'Abhishek', 
                         'emp_id':103,
                         'emp_sal':30000}}
print(emp_info_dict, end = '\n\n')

# Example: Modify emp_id of Rahul from 102 to 1001:
for key, val in emp_info_dict.items():
    for k, v in val.items():
        if v == "Rahul":
            emp_info_dict[key]['emp_id'] = 1001        
        
print(emp_info_dict)

{'emp1': {'emp_name': 'Krishna', 'emp_id': 101, 'emp_sal': 10000}, 'emp2': {'emp_name': 'Rahul', 'emp_id': 102, 'emp_sal': 20000}, 'emp3': {'emp_name': 'Abhishek', 'emp_id': 103, 'emp_sal': 30000}}

{'emp1': {'emp_name': 'Krishna', 'emp_id': 101, 'emp_sal': 10000}, 'emp2': {'emp_name': 'Rahul', 'emp_id': 1001, 'emp_sal': 20000}, 'emp3': {'emp_name': 'Abhishek', 'emp_id': 103, 'emp_sal': 30000}}

In [34]:
# Dictionary keys cannot be modified directly. However a work around is to delete the required key and create a new one:

dict1 = { 1: 'January', 2:'Febuary', 3:'March' }
print("Old dictionary-",dict1)

dict1[2.1] = dict1[2]
del dict1[2]
print("New dictionary-",dict1)

Old dictionary- {1: 'January', 2: 'Febuary', 3: 'March'}
New dictionary- {1: 'January', 3: 'March', 2.1: 'Febuary'}

In [35]:
# https://data.covid19india.org/v4/min/data.min.json

In [2]:
# Lets see another example of parsing json data into a multi level nested dictionary and extract required values
# We will use the requests module to read the json data and parse it
import warnings
warnings.filterwarnings('ignore')

import requests

response = requests.get("https://api.covid19india.org/v4/min/data.min.json", verify=False)
data = response.json()
data
data["KA"]
data["KA"]["districts"]
data["KA"]["districts"]['Bengaluru Urban']

{'delta': {'confirmed': 137,
  'deceased': 7,
  'recovered': 204,
  'vaccinated1': 2109,
  'vaccinated2': 11462},
 'delta21_14': {'confirmed': 1105},
 'delta7': {'confirmed': 1165,
  'deceased': 37,
  'recovered': 1093,
  'vaccinated1': 48836,
  'vaccinated2': 247281},
 'meta': {'population': 9588910, 'tested': {'date': '2021-01-31'}},
 'total': {'confirmed': 1251872,
  'deceased': 16281,
  'other': 1,
  'recovered': 1229059,
  'tested': 6883888,
  'vaccinated1': 9219875,
  'vaccinated2': 5903791}}

In [61]:
#data["KA"]["districts"]["Bengaluru Urban"]
data["KA"]["districts"]["Bengaluru Urban"]["total"]

{'confirmed': 1251872,
 'deceased': 16281,
 'other': 1,
 'recovered': 1229059,
 'tested': 6883888,
 'vaccinated1': 9219875,
 'vaccinated2': 5903791}

In [62]:
data["KA"]["districts"]["Bengaluru Urban"]["total"]["confirmed"]

1251872