# Operators in Python

In [ ]:
# Operators are used to perform operations on variables and values. We have the following kinds of operators in Python:

#     Arithmetic Operators 
#     Comparison Operator, 
#     Equality Operator 
#     Logical Operator, 
#     Bitwise Operators 
#     Assignment Operator, 
#     Compound Assignment  
#     Membership Operator
#     Identity Operator, 
#     Ternary Operator,
#     Operator Precedence

# Arithmetic Operators

In [96]:
# Arithmetic Operators: +, -, *, /(Float), //(Floor), %(Modulo), **(Exponent)

print(10/3)   # Float Division
print(10//3, 10%3)  # Return Quotient of float division
print(10%3)   # %(Modulo) - Remainder
print(10**3)  # Exponent
print(10*2)

a = 10
b = 15
c = a*b
print(c)
print(a*b)

for i in range (10):
    print(i)

# Note:- Floor division and modulo operator does not work with complex numbers

3.3333333333333335
3 1
1
1000
20
150
150
0
1
2
3
4
5
6
7
8
9

In [107]:
# Rounding Off Float

print(round(10.5125365, 3))

import math
num = 10.71
# Ceil = Highest nearest whole number - 11
# Floor = Lowest nearest whole number - 10
print(math.ceil(num))
print(math.floor(num))

x = math.ceil(num)
print(x)

10.513
11
10
11

In [108]:
# Concatenation - +
# Done on Sequences
# Both the operand should be of same sequence type
# sequnece - str, list, tuple etc..
# It creates a new object and does not make any changes to existing object

print('Python'+'class')      # Allowed: str + str
print([10,20,30]+[1,2,3])    # Allowed: List + List
print((10,20,30)+(1,2,3))    # Allowed: Tuple + Tuple
#print((10,20,30)+[1,2,3])   # Not Allowed: Tuple + List
#print((10,20,30)+1)         # Not Allowed: Tuple + Int   


lst1 = [10,20,30]
lst2 = [1,2,3]
# lst3 = lst1+lst2
print(lst1)
print(lst2)
print(lst1+lst2)

Pythonclass
[10, 20, 30, 1, 2, 3]
(10, 20, 30, 1, 2, 3)
[10, 20, 30]
[1, 2, 3]
[10, 20, 30, 1, 2, 3]

In [7]:
# Concatenation - *
# Done on Sequences
# One of the operand should be of sequence type and other should be int
# sequnece - str, list, tuple, bytes, byteaarray, range
# It creayes a new object and does not make any changes to existing object

print('Python'*3)
print([10,20,30]*3)
print((10,20,30)*3)
#print((10,20,30)*3.0)   # Not Allowed: Cannot multiply with non int values

a = ['Python', None, True]
b = a*2
print(b)

PythonPythonPython
[10, 20, 30, 10, 20, 30, 10, 20, 30]
(10, 20, 30, 10, 20, 30, 10, 20, 30)
['Python', None, True, 'Python', None, True]

# Comparison Operators: <, >, <=, >=

In [111]:
# Always returns Boolean Value
# Does not work between different data types except int and float

# Allowed
print(10<20)
print(10<=10)
print(20>100)
print(10<10.20)

print('#'*80, end = '\n\n')

print('a'<'A')                               # Considers ASCII value. Refer ASCII table at the end of this material
print('A'<'a')
print('ArijiT'<'Arijit')
print(True<0b10101)
print([10, 20, 40]<[10, 20, 30, 40])

# Not Allowed
#print(10<'A')
#print([10,20,30]<(10,20, 30))

True
True
False
True
################################################################################

False
True
True
True
False

In [113]:
# ord() method returns unicode/ASCII value for a given character
print(ord('A'))
print(ord('='))
#print(ord('[]'))   # Not Valid. ord() accepts only one character
print('#'*80, end = '\n\n')

# chr() method returns a character for a given unicode/ASCII value
print(chr(65))
print(chr(61))
print(chr(91))

a = "Python"
# print(ord(a))
print(ord(a[2]))

65
61
################################################################################

A
=
[
116

# Equality Operator - ==, !=

In [114]:
# They are used to compare values
# These operators also returns boolean values
# These operators works with any data types

print(10 == 10)
print(10 != 10)

print(10 == 100)
print(10 != 100)

print('Python' == [10,20,30])

print('Python' == 'python')

True
False
False
True
False
False

# Logical Operator - and, or, not

In [ ]:
# It works on logic
# Logic is always evaluated either as True or False

# 'and' Truth Table
# True and True = True
# True and False = False
# False and True = False
# False and False = False

# 'or' Truth Table
# True or True = True
# True or False = True
# False or True = True
# False or False = False

# 'not' Truth Table
# not True = False
# not False = True

In [71]:
# Example 1:
age = int(input('Enter your age: '))
if (age > 18) and (age < 70):
    print('You are allowed')
else:
    print('You are NOT allowed')

Enter your age: 25
You are allowed

In [115]:
# Example 2:
num = int(input('Enter a number: '))    
if num%2 == 0:
    print('Even')
else:
    print('Odd')

Enter a number: 73
Odd

In [20]:
# Example 3: Find out if a year is Leap Year
# Logic: if (year is divisible by 400) or ((year is divisible by 4 and year is not divisible by 100)) --> It's a leap year
    
year = int(input('Enter a year: '))
if ((year%400 == 0) or ((year%4 == 0 and year%100 != 0))):
    print('Year is a leap Year')
else:
    print('Year is not a leap year')

# 1800 => False or (True and False) => False or False = False - not a leap Year
# 1600 => True or (True and False) => True or True => True - Leap Year
# 1998 => False or (False and True) => False or False => False - Not a leap Year
# 2004 => False or (True and True) => False or True => True - Leap Year

Enter a year: 2100
Year is not a leap year

In [21]:
# IF val1 and val2 are two values

# val1 and val2 -> Result is val1 if val1 is False else result is val2
# val1 or val2 -> Result is val1 if val1 is True else result is val2

print(10 and 20)
print(0 and 20)
print(20 and 0)
print(0 and 0.0)
print('' and [])
print({} and [])

print(10 or 20)
print(0 or 20)
print(20 or 0)
print(0.0 or 0)

20
0
0
0

{}
10
20
20
0

# Bitwise Operators - &, |, ^, ~, <<, >>

In [ ]:
# It works only on bits i.e on binary values
# works only with integers


# & (AND) Truth Table
# 1 & 1 = 1
# 1 & 0 = 0
# 0 & 1 = 0
# 0 & 0 = 0


# | (OR) Truth Table
# 1 | 1 = 1
# 1 | 0 = 1
# 0 | 1 = 1
# 0 | 0 = 0

# ^ (XOR) Truth Table
# 1 ^ 1 = 0
# 1 ^ 0 = 1
# 0 ^ 1 = 1
# 0 ^ 0 = 0

In [46]:
# Examples:

print(37 & 157)
print(37 | 157)
print(37 ^ 157)
print('#'*80, end = '\n\n')

# 37 =>  00100101
# 157 => 10011101
# ================
# &  =>  00000101
# |  =>  10111101
# ^  =>  10111000

print('#'*80, end = '\n\n')
print(0b10111000)


# Negation (One's Complement)
# ~num = -(num+1)
# Ones' complement + original number = -1
# Ones' complement + original number = -1 - original number = -(1 + original number)

print('#'*80, end = '\n\n')
print(~10)
print(~-9)
print(~True)

5
189
184
################################################################################

################################################################################

184
################################################################################

-11
8
-2

In [ ]:
# Bitwise Left and Right Shift Operators: <<, >>

In [75]:
# Bitwise left shift operation - <<
# num << no_bit_bits


print(157 << 2)

print('#'*80, end = '\n\n')

# Step 1
# print(bin(157))
# 157 => 10011101

# Step 2
# Represent in 32-bit format
# 157 => 00000000000000000000000010011101

# Step 3
# Remove the specified no of bits from left side
# 157 => 000000000000000000000010011101

# Step 4
# add the specified no of bits(0) on right side

# 00000000000000000000001001110100 => 628

print(0b1001110100)

628
################################################################################

628

In [27]:
# Bitwise right shift operation - >>
# num >> no_bit_bits


print(157 >> 3)
print('#'*80, end = '\n\n')

# Step 1
# print(bin(157))
# 157 => 10011101

# Step 2
# Represent in 32-bit format
# 157 => 00000000000000000000000010011101

# Step 3
# Remove the specified no of bits from right side
# 157 => 00000000000000000000000010011

print(0b10011)

19
################################################################################

19

# Assignment Operator - '='

In [76]:
a = 'Python'
print(a)

Python

In [78]:
a = 10
if a==10:
    print("OK")

OK

# Compound assignmet Operators: Shortcuts

In [38]:
# +=, -=, /=, //=, %=, *=, &=, |=, ^=, ~=, <<=, >>+

c = 0
c+=2                  # (c = c + 2) is same as (c += 2) 
print(c)

d = 105
d%=9                  # Same as d = d % 9
print(d)

e = 105
e>>=3                 # Same as e = e >> 3
print(e)

f = 0
for i in range(10):
    
    f+=i              # Same as f = f + i
    
    
print(f)

2
6
13
45

# Membership - in, not in

In [80]:
# Returns Boolean value

print(10 in [10,20,30,40])
print('P' in 'Python')
print('p' not in 'Python')
print('Py'  in 'Python')
print('Pn'  in 'Python')
print('P'  in 'Python' and 'n' in 'Python')
print(1 in (10,20,30,40))

print(10 in {10:100, 20:200,30:300})          # For dictionary, it will check only the keys and not the values
print(100 in {10:100, 20:200,30:300})

True
True
True
True
False
True
False
True
False

# Identity Operator - Checks whether memory address is same or not

In [41]:
# is - if memory adsress is same then it returns True else False
# is not - if memory adsress is same then it returns False else True

a = 10  
b = 10                    # Note that both a and b falls with the int range of -5 to +256. Hence memory address is same
print(a is b)
print(a is not b)
print('#'*80, end = '\n\n')

a = 1000
b = 1000                  # Note that both a and b falls outside the int range of -5 to +256. Hence memory address is different
print(a is b)
print(a is not b)
print('#'*80, end = '\n\n')

a = 1000
b = 1000
print(a is b)
c = a     # Aliasing or copying the memory address and not the value directly
print(a is c)
print('#'*80, end = '\n\n')

print(a, id(a))
print(c, id(c))

True
False
################################################################################

False
True
################################################################################

False
True
################################################################################

1000 1922577613488
1000 1922577613488

# Ternary Operator

In [81]:
# expr1 if cond1 else expr2 
# Nesting - expr1 if cond1 else expr2 if cond2 else expr3 if cond3 else expr4

# Example 1:
num1 = eval(input('Enter 1st number: '))
num2 = eval(input('Enter 2nd number: '))
print("Largest Number is: ", num1 if num1>num2 else num2)

Enter 1st number: 205
Enter 2nd number: 309
Largest Number is:  309

In [82]:
# Example 2: Largest of 3 numbers (Traditional Method)
    
num1 = eval(input('Enter 1st number: '))
num2 = eval(input('Enter 2nd number: '))
num3 = eval(input('Enter 3rd number: '))

# Here is a code to find the largest of the 3 numbers
if num1>num2 and num1>num3:
    print("Largest Number is: ", num1)
if num2>num1 and num2>num3:
    print("Largest Number is: ", num2)
if num3>num1 and num3>num2:
    print("Largest Number is: ", num3)

Enter 1st number: 50
Enter 2nd number: 150
Enter 3rd number: 10
Largest Number is:  150

In [84]:
# The same code can be written in 1 line using Ternary Operator as below:

num1 = eval(input('Enter 1st number: '))
num2 = eval(input('Enter 2nd number: '))
num3 = eval(input('Enter 3rd number: '))

print("Largest Number is: ", num1 if (num1>num2) and (num1>num3) else num2 if num2>num3 else num3)

Enter 1st number: 50
Enter 2nd number: 150
Enter 3rd number: 10
Largest Number is:  150

# Operator Precedence

In [ ]:
# Operators                                         Meaning
# ()                                                Parentheses
# **                                                Exponent
# *, /, //, %                                       Multiplication, Division, Floor division, Modulus
# +, -                                              Addition, Subtraction
# <<, >>                                            Bitwise shift operators
# &                                                 Bitwise AND
# ^                                                 Bitwise XOR
# |                                                 Bitwise OR
# ==, !=, >, >=, <, <=, is, is not, in, not in      Comparisons, Identity, Membership operators
# not                                               Logical NOT
# and                                               Logical AND
# or                                                Logical OR

# ASCII Table

In [ ]:
# Dec  Char                           Dec  Char           Dec  Char           Dec  Char
# ---------                           ---------           ---------           ----------
#   0  NUL (null)                      32  SPACE           64  @               96  `
#   1  SOH (start of heading)          33  !               65  A               97  a
#   2  STX (start of text)             34  "               66  B               98  b
#   3  ETX (end of text)               35  #               67  C               99  c
#   4  EOT (end of transmission)       36  $               68  D              100  d
#   5  ENQ (enquiry)                   37  %               69  E              101  e
#   6  ACK (acknowledge)               38  &               70  F              102  f
#   7  BEL (bell)                      39  '               71  G              103  g
#   8  BS  (backspace)                 40  (               72  H              104  h
#   9  TAB (horizontal tab)            41  )               73  I              105  i
#  10  LF  (NL line feed, new line)    42  *               74  J              106  j
#  11  VT  (vertical tab)              43  +               75  K              107  k
#  12  FF  (NP form feed, new page)    44  ,               76  L              108  l
#  13  CR  (carriage return)           45  -               77  M              109  m
#  14  SO  (shift out)                 46  .               78  N              110  n
#  15  SI  (shift in)                  47  /               79  O              111  o
#  16  DLE (data link escape)          48  0               80  P              112  p
#  17  DC1 (device control 1)          49  1               81  Q              113  q
#  18  DC2 (device control 2)          50  2               82  R              114  r
#  19  DC3 (device control 3)          51  3               83  S              115  s
#  20  DC4 (device control 4)          52  4               84  T              116  t
#  21  NAK (negative acknowledge)      53  5               85  U              117  u
#  22  SYN (synchronous idle)          54  6               86  V              118  v
#  23  ETB (end of trans. block)       55  7               87  W              119  w
#  24  CAN (cancel)                    56  8               88  X              120  x
#  25  EM  (end of medium)             57  9               89  Y              121  y
#  26  SUB (substitute)                58  :               90  Z              122  z
#  27  ESC (escape)                    59  ;               91  [              123  {
#  28  FS  (file separator)            60  <               92  \              124  |
#  29  GS  (group separator)           61  =               93  ]              125  }
#  30  RS  (record separator)          62  >               94  ^              126  ~
#  31  US  (unit separator)            63  ?               95  _              127  DEL