# Python Lists

In [3]:
# List - Group of values kept inside []

lst = [10,20,30,40]
print(lst, type(lst))

[10, 20, 30, 40] <class 'list'>

In [4]:
# List can have Heterogeneous data, i.e. data of different types

lst = [10, 10.20, 10+20j, None, True, 'Python']
print(lst, type(lst))

emp_lst = ['Krishna', 29, 90000.90]
print(emp_lst, type(emp_lst))

[10, 10.2, (10+20j), None, True, 'Python'] <class 'list'>
['Krishna', 29, 90000.9] <class 'list'>

In [5]:
# List can have duplicate elements
emp_age = [29, 28, 27, 29, 30, 35, 50, 35, 35, 50, 35, 29]
print(emp_age)

[29, 28, 27, 29, 30, 35, 50, 35, 35, 50, 35, 29]

In [6]:
# List is a sequence - indexing, slicing, concatenation, repetiton are allowed

emp_email_lst = ['krishna@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com']
print('\nAccessing first element')
print(emp_email_lst[0])
print(emp_email_lst[-4])
print(emp_email_lst[-len(emp_email_lst)])

print('\nAccessing last element')
print(emp_email_lst[-1])
print(emp_email_lst[3])
print(emp_email_lst[len(emp_email_lst)-1])

Accessing first element
krishna@volvo.com
krishna@volvo.com
krishna@volvo.com

Accessing last element
apoorva@volvo.com
apoorva@volvo.com
apoorva@volvo.com

In [21]:
# Slicing - lst_name[start:stop:step]

emp_email_lst = ['krishna@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com']

print(emp_email_lst[1:3:1])
print(emp_email_lst[::])
print(emp_email_lst[::-1])
print(emp_email_lst[-1:-len(emp_email_lst)-1:-1])

print(emp_email_lst[0:len(emp_email_lst):-1])
print(emp_email_lst[len(emp_email_lst):0:-1])

['abhishek@volvo.com', 'rahul@volvo.com']
['krishna@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com']
['apoorva@volvo.com', 'rahul@volvo.com', 'abhishek@volvo.com', 'krishna@volvo.com']
['apoorva@volvo.com', 'rahul@volvo.com', 'abhishek@volvo.com', 'krishna@volvo.com']
[]
['apoorva@volvo.com', 'rahul@volvo.com', 'abhishek@volvo.com']

In [9]:
# When step is +ve -> default start is 0 and default stop is len(lst)
# When step is -ve - default start is -1 and default stop is -len(lst)-1
# If step is +ve then start should be on left compared to your stop value
# If step is -ve then start should be on right compared to your stop value

In [10]:
# List is mutable
# 1. Item assignment is possible
# 2. Changes will be done in the existing object


emp_email_lst = ['krishna@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com']
print(emp_email_lst, id(emp_email_lst))
emp_email_lst[0] = 100
print(emp_email_lst, id(emp_email_lst))

['krishna@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com'] 1142163651840
[100, 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com'] 1142163651840

# Creation of List objects

In [23]:
# If we know the elements in advance
emp_info = ['Krishna', 'krishna@volvo.com', 'Volvo', 35, 90000, 'Bengaluru']
print(emp_info)

# Creating list from other itearble type using the inbuilt list() method
print(list('Krishna'))
print(list(['Krishna', 'Thomas', 'Tommy']))

['Krishna', 'krishna@volvo.com', 'Volvo', 35, 90000, 'Bengaluru']
['K', 'r', 'i', 's', 'h', 'n', 'a']
['Krishna', 'Thomas', 'Tommy']

In [24]:
# Print list / tuple / dictionary as list

print(list(['Krishna', 'krishna@volvo.com', 'Volvo', 35, 90000, 'Bengaluru']))     # List to List
print(list(('Krishna', 'krishna@volvo.com', 'Volvo', 35, 90000, 'Bengaluru')))     # Tuple to List
print(list({'emp_name':'Krishna', 'emp_id':101, 'emp_sal':80000}))                 # Dictionary to List

['Krishna', 'krishna@volvo.com', 'Volvo', 35, 90000, 'Bengaluru']
['Krishna', 'krishna@volvo.com', 'Volvo', 35, 90000, 'Bengaluru']
['emp_name', 'emp_id', 'emp_sal']

In [26]:
# Assignment operators on list: Shallow Copy - Copy of an existing object

lst1 = [10,20,30]
lst2 = lst1                    # Shallow Copy
print(lst1, id(lst1))
print(lst2, id(lst2))

lst2[0] = 111
print(lst1, id(lst1))
print(lst2, id(lst2))

# In Shallow Copy, modifying an element of the original list will modify the duplicate list as well and vice versa

[10, 20, 30] 2842885714048
[10, 20, 30] 2842885714048
[111, 20, 30] 2842885714048
[111, 20, 30] 2842885714048

In [16]:
# Assignment operators on list: Deep Copy - New object is created

import copy

lst1 = [10,20,30]
lst2 = copy.deepcopy(lst1)      # Deep Copy
print(lst1, id(lst1))
print(lst2, id(lst2))

lst2[0] = 111
print(lst1, id(lst1))
print(lst2, id(lst2))

# In Deep Copy, modifying an element of the original list will not modify the duplicate list and vice versa

[10, 20, 30] 1142163721472
[10, 20, 30] 1142163742912
[10, 20, 30] 1142163721472
[111, 20, 30] 1142163742912

In [35]:
# Taking list as input from user

emp_info = eval(input('Enter a list: '))
print(emp_info, type(emp_info))
print(emp_info[0], type(emp_info))

Enter a list: ['A031828', 'A378752']
['A031828', 'A378752'] <class 'list'>
A031828 <class 'list'>

In [7]:
# List comprehension - A shotcut to combine multiple operations on lists in a single line
# [expr for loop if cond]

# Use Case: For a given list of email id's, print the user id's if the length of the user id is > 6 characters

emp_email_lst = ['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com', 'tim@volvo.com']
emp_user_lst = [i[:i.index('@')] for i in emp_email_lst if len(i[:i.index('@')])>6]

print(emp_user_lst)  # Extracts the user id before '@' if length of the user id > 6

['krishna9', 'abhishek', 'apoorva']

In [8]:
# The above code can also be written as below but number of lines increases:

emp_email_lst = ['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com', 'tim@volvo.com']
emp_user_lst = []
for i in emp_email_lst:
    if len(i[:i.index('@')])>6:
        emp_user_lst.append(i[:i.index('@')])
        
print(emp_user_lst)

['krishna9', 'abhishek', 'apoorva']

In [30]:
# From a given list of integers, print the square of only the even numbers using List Comprehension 
# [expr for loop if cond]

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print([i**2 for i in lst if i%2 == 0])

[4, 16, 36, 64]

In [28]:
# Enclosing a list in quotes will make it behave like a string and return each element as a list object:
print(list("['Krishna', 101, 98000]"))
print(list(['Krishna', 101, 98000]))

['[', "'", 'K', 'r', 'i', 's', 'h', 'n', 'a', "'", ',', ' ', '1', '0', '1', ',', ' ', '9', '8', '0', '0', '0', ']']
['Krishna', 101, 98000]

In [29]:
# Nested List - list inside a list or multi dimensional list
emp_info = [['Krishna', 101, 90000, None], 
            ['Rahul', 103, 99000, 'Bengaluru'], 
            ['Apoorva', 104, 55000, None], 
            ['Abhishek', 109, 76000, None]]
print(emp_info[1][-1][3])  
print(emp_info[1][-1]) 
# Extracts the fourth character (3), of the last element (-1), from the second list (1) in the nested list

g
Bengaluru

# Methods on Lists

In [4]:
# List Methods
print(dir(list))

# Usable Methods: ['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [34]:
# Inserting the elements inside the list - append, insert, extend
# Append - adds the elements at the end of the list

emp_email_lst = ['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.como']
emp_email_lst.append('Diksha@volvo.com')
print(emp_email_lst)

['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.como', 'Diksha@volvo.com']

In [11]:
# Inserting the element in the middle of the list

emp_email_lst = ['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com']
print(emp_email_lst)

emp_email_lst.insert(len(emp_email_lst), 'Diksha@volvo.com')   # Inserts an element at the end of the list
print(emp_email_lst)

emp_email_lst.insert(1, 'Diksha@volvo.com')                    # Inserts an element at the specified index
print(emp_email_lst)

['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com']
['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com', 'Diksha@volvo.com']
['krishna9@volvo.com', 'Diksha@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com', 'Diksha@volvo.com']

In [12]:
# Inserting the element inside the list using extend. It inserts the second list at the end of the first list

emp_email_lst1 = ['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com']
emp_email_lst2 = ['Diksha@volvo.com', 'simran@volvo.com']

emp_email_lst1.extend(emp_email_lst2)
print(emp_email_lst1)

['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com', 'Diksha@volvo.com', 'simran@volvo.com']

In [13]:
# Inserting elements inside a list using '+' or Concatenation. It inserts the second list at the end of the first list

emp_email_lst1 = ['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com']
emp_email_lst2 = ['Diksha@volvo.com', 'simran@volvo.com']

print(emp_email_lst1 + emp_email_lst2)

['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com', 'Diksha@volvo.com', 'simran@volvo.com']

In [14]:
# Removing the elements from the list -  'pop', 'remove', 'clear'

# clear

emp_email_lst = ['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com']
emp_email_lst.clear()    # Delets all the elements from the list
print(emp_email_lst)

[]

In [18]:
# pop() - by default removes the last element from the list
# pop(index) - removes the element from the list from specified index

emp_email_lst = ['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com', 'apoorva@volvo.com']
email = emp_email_lst.pop()       # Removes the last element from the list. removed element is stored in variable 'email'
print(email)
print(emp_email_lst)

emp_email_lst.pop(1)            # Removes the element from specified index
print(emp_email_lst)

apoorva@volvo.com
['krishna9@volvo.com', 'abhishek@volvo.com', 'rahul@volvo.com']
['krishna9@volvo.com', 'rahul@volvo.com']

In [20]:
# remove(val) - removes the first occurrence of the value from the list

# Using remove:
emp_name_lst = ['Krishna', 'Abhishek', 'Rahul', 'Krishna', 'Aditi', 'Afsan', 'Abhishek', 'Krishnan']
emp_name_lst.remove('Krishnan')
print(emp_name_lst)

# Using list comprehension:
emp_name_lst = ['Krishna', 'Abhishek', 'Rahul', 'Krishna', 'Aditi', 'Afsan', 'Abhishek', 'Krishnan']
print([i for i in emp_name_lst if i != 'Krishnan'])

['Krishna', 'Abhishek', 'Rahul', 'Krishna', 'Aditi', 'Afsan', 'Abhishek']
['Krishna', 'Abhishek', 'Rahul', 'Krishna', 'Aditi', 'Afsan', 'Abhishek']

In [8]:
# 'count', 'index'

emp_name_lst = ['Krishna', 'Abhishek', 'Rahul', 'Krishna', 'Aditi', 'Afsan', 'Abhishek', 'Krishnan']

print(emp_name_lst.count('Krishna'))
print(emp_name_lst.index('Krishna'))
print(emp_name_lst.index('Krishnan'))

2
0
7

In [59]:
# 'reverse', 'sort'

emp_age = [29, 28, 27, 29, 30, 35, 50, 35, 35, 50, 35, 29]
emp_age.reverse()
print(emp_age)

emp_age.sort()   # Be default sorts the list in ascending order
print(emp_age)

#To sort the list in descending order
emp_age.sort(reverse = True)
print(emp_age)

emp_name_lst = [['Krishna', 'Abhishek'], ['Rahul', 'Krishna'], ['Abhishek', 'Afsan'], ['Abhishek', 'Krishna']]
emp_name_lst.sort()
print(emp_name_lst)

[29, 35, 50, 35, 35, 50, 35, 30, 29, 27, 28, 29]
[27, 28, 29, 29, 29, 30, 35, 35, 35, 35, 50, 50]
[50, 50, 35, 35, 35, 35, 30, 29, 29, 29, 28, 27]
[['Abhishek', 'Afsan'], ['Abhishek', 'Krishna'], ['Krishna', 'Abhishek'], ['Rahul', 'Krishna']]

In [34]:
# Index of repetitive values in a list. Prints the index of the name "Krishna" for every occurance in a given list of names

emp_name_lst = ['Krishna', 'Abhishek', 'Rahul', 'Krishna', 'Aditi', 'Afsan', 'Abhishek', 'Krishnan']
c = 0
for name in emp_name_lst:    
    if name == "Krishna":        
        print(c)
    c+=1

0
3